<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<%# if policy(Person.new).create? %>
<%= link_to "Add New Person", new_person_path, class: 'btn btn-sm btn-success' %>
<%# end %>
