<h1>People#index</h1>
<p>Find me in app/views/people/index.html.erb</p>
<% if @people.present? %>
<% @people.each do |p| %>
  <%= p.first_name %> <%= p.last_name %><br>
<% end %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>