<h4>Client: <i><%= link_to "#{@person.last_name}, #{@person.first_name}", edit_person_path(@person) %></i> DOB: <i><% if @person.dob.nil? %><% "" %><% else %><%= link_to "#{@person.dob.try(:strftime, '%m/%d/%Y')}", edit_person_path(@person) %></i><% end %></h4>
<b>Address:</b><%= " #{@person.address_line_1} #{@person.address_line_2} #{@person.city}, #{@person.state} #{@person.zip}" %> <b>Primary Phone:</b> <%= " #{@person.primary_phone}" %>

